<div class="flex flex-col gap-8 py-8 max-w-md mx-auto">
  <%= inline_svg_tag("logos/tangocloud-logo-with-text.svg", class: "w-36 h-auto mx-auto dark:fill-neutral-100") %>
  <%= turbo_frame_tag "form_frame" do %>
    <%= form_with(url: sign_in_path) do |form| %>
      <div class="form-control space-y-4">
        <div class="h-6">
          <% if flash[:modal_notice] %>
            <div class="text-neutral-700 dark:text-neutral-400 rounded-md shadow-sm relative transition-colors duration-300 ease-in-out" role="alert">
              <span class="block sm:inline"><%= flash[:modal_notice] %></span>
            </div>
          <% end %>
          <% if @session&.errors&.any? %>
            <% @session.errors.full_messages.each do |message| %>
              <span class="text-red-600 dark:text-red-500 text-sm"><%= message %></p>
            <% end %>
          <% end %>
        </div>
        <label class="input input-bordered flex items-center gap-2">
          <%= heroicon("envelope", variant: :solid, size: :sm) %>
          <%= form.email_field :email, value: @email_hint, required: true, autofocus: true, autocomplete: "email", inputmode: "email", spellcheck: "false", placeholder: "Email", class: "grow" %>
        </label>
        <label class="input input-bordered flex items-center gap-2" data-controller="password-visibility">
          <%= heroicon("key", variant: :solid, size: :sm) %>
          <%= form.password_field :password, required: true, autocomplete: "new-password", minlength: 8, inputmode: "text", placeholder: "Password", class: "grow", data: {password_visibility_target: "password" } %>
          <button data-action="click->password-visibility#toggle:prevent" aria-label="Show password">
            <div data-password-visibility-target="eye">
              <%= heroicon("eye", size: :md) %>
            </div>
            <div data-password-visibility-target="eyeSlash" class="hidden">
              <%= heroicon("eye-slash", size: :md) %>
            </div>
          </div>
        </label>
        <div class="flex justify-center mt-4">
          <%= form.submit "Sign in to account", class: "btn btn-primary btn-block" %>
        </div>
        <div class="flex flex-col items-center gap-6 py-2">
          <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "link link-hover", data: { turbo_frame: "modal" } %>
          <%= link_to "Don't have an account?", sign_up_path, class: "link link-hover", data: { turbo_frame: "modal" } %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
