<h2>Resend confirmation instructions</h2>

<%= inline_svg_tag("logos/tangocloud-logo-with-text.svg", class: "form-header") %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

  <div class="form-group">
    <%= f.label :email, class: "label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    <%= inline_errors_for(resource, :email) %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions" %>
  </div>
<% end %>
