<div class="form-container">
  <div class="form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-body">
        <div class="form-input-group">
          <div class="form-group">
            <%= f.fields_for :user_preference do |up| %>
              <div class="avatar-upload flex flex-col items-center gap-8 mt-4">
                <% if resource.user_preference&.avatar&.attached? %>
                  <%= image_tag(resource.user_preference.avatar.variant(resize_to_fill: [150, 150]), class: "avatar-image w-40 h-40 rounded-full object-cover shadow-lg") %>
                <% else %>
                  <%= image_tag("icons/default-avatar.svg", class: "avatar-image w-40 h-40 rounded-full object-cover shadow-lg") %>
                <% end %>

                <label for="user_preference_avatar" class="custom-file-upload cursor-pointer bg-indigo-600 text-white px-4 py-2 rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                  Change Avatar
                  <%= up.file_field :avatar, class: "hidden", id: "user_preference_avatar", accept: "image/*", data: { preview_target: "preview" } %>
                </label>
              </div>

              <div class="form-group mt-6">
                <%= up.label :first_name, class: "label", for: "user_preference_first_name" %>
                <%= up.text_field :first_name, id: "user_preference_first_name", class: "input" %>
              </div>

              <div class="form-group">
                <%= up.label :last_name, class: "label", for: "user_preference_last_name" %>
                <%= up.text_field :last_name, id: "user_preference_last_name", class: "input" %>
              </div>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: "label", for: "email-address" %>
            <%= f.email_field :email, id: "email-address", autofocus: true, autocomplete: "email", class: "input" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div class="text-sm text-neutral-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password, class: "label", for: "password" %>
            <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "input" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: "label", for: "password-confirmation" %>
            <%= f.password_field :password_confirmation, id: "password-confirmation", autocomplete: "new-password", class: "input" %>
          </div>

          <% if @minimum_password_length %>
            <p class="text-sm text-neutral-600 dark:text-neutral-500"><em><%= @minimum_password_length %> characters minimum</em></p>
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "button" %>
        </div>
      </div>
    <% end %>

    <div class="form-footer">
      <%= button_to "Delete your account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "link" %>
    </div>
  </div>
</div>
