<%# locals: { query:, top_result: nil, recordings: [], orchestras: [], playlists: [], tandas: [] } %>
<% cache([query, top_result, recordings, orchestras, playlists, tandas]) do %>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col md:flex-row gap-4">
      <% if @top_result.present? %>
        <div class="md:w-1/4 flex flex-col gap-4">
          <h2 class="text-xl md:text-2xl font-semibold">Top Result</h2>
          <% if @top_result.is_a?(Recording) %>
            <%= render partial: "recording_form", locals: { recording: @top_result }, as: :recording %>
          <% elsif @top_result.is_a?(Orchestra) %>
            <%= render partial: 'orchestras/orchestra', locals: { orchestra: @top_result } %>
          <% elsif @top_result.is_a?(Playlist) %>
            <%= render partial: 'playlists/playlist', locals: { playlist: @top_result } %>
          <% elsif @top_result.is_a?(Tanda) %>
            <%= render partial: 'tandas/tanda', locals: { tanda: @top_result } %>
          <% end %>
        </div>
      <% end %>
      <% if @recordings.present? %>
        <div class="flex flex-col gap-4">
          <h2 class="text-xl md:text-2xl font-semibold">Recordings</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 gap-2">
            <%= render partial: "recording_form", collection: @recordings, as: :recording %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @orchestras.present? %>
      <div class="flex flex-col gap-4">
        <h2 class="text-xl md:text-2xl font-semibold">Orchestras</h2>
        <div class="flex space-x-4 overflow-x-auto scrollbar-hide">
          <%= render collection: @orchestras, partial: 'orchestras/orchestra' %>
        </div>
      </div>
    <% end %>
    <% if @playlists.present? %>
      <div class="flex flex-col gap-4">
        <h2 class="text-xl md:text-2xl font-semibold">Playlists</h2>
        <div class="flex space-x-4 overflow-x-auto scrollbar-hide">
          <% render collection: @playlists, partial: 'playlists/playlist' %>
        </div>
      </div>
    <% end %>
    <% if @tandas.present? %>
      <div class="flex flex-col gap-4">
        <h2 class="text-xl md:text-2xl font-semibold">Tandas</h2>
        <div class="flex space-x-4 overflow-x-auto scrollbar-hide">
          <% render collection: @tandas, partial: 'tandas/tanda' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>