<div class="container">
  <div class="flex flex-col md:flex-row gap-4">
    <% if @top_result.present? %>
      <div>
        <h2 class="text-xl md:text-2xl font-semibold mb-4">Top Result</h2>
        <div class="bg-neutral-800 rounded-lg flex flex-col md:flex-row gap-4 items-center">
          <%= render @top_result %>
        </div>
      </div>
    <% end %>
    <% if @recordings.present? %>
      <div>
        <h2 class="text-xl md:text-2xl font-semibold mb-4">Recordings</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-5 gap-4 md:gap-6">
          <% @recordings.each do |recording| %>
            <div class="bg-neutral-800 rounded-lg">
              <%= render recording %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <% if @orchestras.present? %>
    <div>
      <h2 class="text-xl md:text-2xl font-semibold mb-4">Orchestras</h2>
      <div class="flex space-x-4 overflow-x-auto scrollbar-hide">
        <% @orchestras.each do |orchestra| %>
          <div class="bg-neutral-800 rounded-lg shrink-0 w-40 sm:w-48">
            <%= render orchestra %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @playlists.present? %>
    <div>
      <h2 class="text-xl md:text-2xl font-semibold mb-4">Playlists</h2>
      <div class="flex space-x-4 overflow-x-auto scrollbar-hide">
        <% @playlists.each do |playlist| %>
          <div class="bg-neutral-800 rounded-lg shrink-0 w-40 sm:w-48">
            <%= render playlist %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @tandas.present? %>
    <div>
      <h2 class="text-xl md:text-2xl font-semibold mb-4">Tandas</h2>
      <div class="flex space-x-4 overflow-x-auto scrollbar-hide">
        <% @tandas.each do |tanda| %>
          <div class="bg-neutral-800 rounded-lg shrink-0 w-40 sm:w-48">
            <%= render tanda %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
