<div class="container p-4 space-y-6">
  <%= link_to @recording.orchestra, class: "flex gap-2 text-sm text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300" do %>
    <%= heroicon "chevron-left", size: :sm %>
    <%= t(".back") %>
  <% end %>
  <% @recording.digital_remasters.each do |remaster| %>
    <div class="p-3 rounded-lg shadow-sm bg-neutral-100 dark:bg-neutral-800">
      <% if remaster.album.album_art.attached? %>
        <%= image_tag remaster.album.album_art, class: "w-full h-96 object-cover rounded-md" %>
      <% else %>
        <div class="w-full h-96 bg-neutral-200 dark:bg-neutral-700 text-neutral-500 dark:text-neutral-300">
        </div>
      <% end %>
    </div>
  <% end %>
  <div>
    <h1 class="text-3xl font-bold text-neutral-800 dark:text-neutral-100"><%= @recording.title %></h1>
    <p class="text-neutral-600 dark:text-neutral-400">Recorded on: <%= @recording.recorded_date.strftime("%B %d, %Y") %></p>
  </div>
  <% if @recording.orchestra.present? %>
    <div>
      <h2 class="text-xl font-semibold text-neutral-800 dark:text-neutral-200">Orchestra</h2>
      <%= link_to @recording.orchestra.name, @recording.orchestra, class: "link link--hover" %>
    </div>
  <% end %>
  <div>
    <h2 class="text-xl font-semibold text-neutral-800 dark:text-neutral-200">Singers</h2>
    <ul class="list-disc ml-5 space-y-1 text-neutral-800 dark:text-neutral-300">
      <% if @recording.singers.any? %>
        <% @recording.singers.each do |singer| %>
          <li><%= singer.name %></li>
        <% end %>
      <% else %>
        <li>Instrumental</li>
      <% end %>
    </ul>
  </div>
  <div class="space-y-2">
    <p><strong>Title:</strong> <%= @recording.composition.title %></p>
    <p><strong>Genre:</strong> <%= @recording.genre.name %></p>
  </div>
  <% if @recording.lyrics.any? %>
    <h2 class="text-xl font-semibold text-neutral-800 dark:text-neutral-200">Lyrics</h2>
    <div class="text-neutral-700 dark:text-neutral-300 bg-neutral-100 dark:bg-neutral-800 p-4 rounded-lg">
      <% @recording.lyrics.each do |lyric| %>
        <p><%= lyric.text %></p>
      <% end %>
    </div>
  <% end %>
</div>