<div class="form-container">
  <div class="form-wrapper max-w-md w-full">
    <div>
      <%= inline_svg_tag("logos/tangocloud-logo-with-text.svg", class: "form-header") %>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-neutral-900">
        Forgot your password?
      </h2>
      <p class="mt-2 text-center text-sm text-neutral-600">
        Enter your email address below to reset your password.
      </p>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-body">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-input-group">
          <div class="form-group">
            <%= f.label :email, class: "sr-only label", for: "email-address" %>
            <%= f.email_field :email, id: "email-address", autofocus: true, autocomplete: "email", class: "input" %>
            <%= inline_errors_for(resource, :email) %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
