<%= turbo_frame_tag "edit-registration", class: "form-container" do %>
  <div class="form-wrapper">
    <%= form_with(url: registration_path(@user), method: :patch, html: { multipart: true, id: "avatar-form" }, data: { turbo_frame: "edit-registration" }) do |f| %>
      <div class="avatar-upload flex items-center gap-8 py-2">
        <% if @user.avatar&.attached? %>
          <%= image_tag(@user.avatar, class: "w-24 h-24 rounded-full object-cover aspect-square") %>
        <% else %>
          <%= icon("new_user", path: "icons/new-user.svg", class: "aspect-square w-24 h-24 rounded-full object-cover fill-neutral-700 dark:fill-neutral-400") %>
        <% end %>

        <label for="user_avatar" class="custom-file-upload cursor-pointer bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
          Change Avatar
          <%= f.file_field :avatar, class: "hidden", id: "user_avatar", accept: "image/*", data: { controller: "auto-submit", action: "change->auto-submit#submit" } %>
        </label>
      </div>
    <% end %>

    <%= form_with(url: registration_path(@user), html: { method: :put }) do |f| %>
      <div class="h-6">
        <% if flash[:modal_notice] %>
          <div class="text-neutral-700 dark:text-neutral-500 rounded-md shadow-sm relative transition-colors duration-300 ease-in-out" role="alert">
            <span class="block sm:inline"><%= flash[:modal_notice] %></span>
          </div>
        <% end %>
      </div>
      <div class="form-body">
        <div class="form-input-group space-y-4">

          <label class="input input-bordered flex items-center gap-2">
            <%= icon("form-email", path: "icons/email.svg") %>
            <%= f.email_field :email, class: "grow border-none", id: "email-address", value: @user.email, readonly: true, placeholder: "Email" %>
            <%= inline_errors_for(@user, :email) %>
          </label>

          <label class="input input-bordered flex items-center gap-2">
            <%= icon("form-user", path: "icons/user.svg")%>
            <%= f.text_field :username, class: "grow border-none", id: "username", value: @user.username, placeholder: "Username" %>
            <%= inline_errors_for(@user, :username) %>
          </label>

          <label class="input input-bordered flex items-center gap-2">
            <%= icon("form-password", path: "icons/password.svg") %>
            <%= f.password_field :password, class: "grow border-none", id: "password", autocomplete: "new-password", placeholder: "Password" %>
            <%= inline_errors_for(@user, :password) %>
          </label>

          <label class="input input-bordered flex items-center gap-2">
            <%= icon("form-password", path: "icons/password.svg") %>
            <%= f.password_field :password_confirmation, class: "grow border-none", id: "password-confirmation", autocomplete: "new-password", placeholder: "Confirm Password" %>
            <%= inline_errors_for(@user, :password_confirmation) %>
          </label>

        </div>

        <div class="actions pt-4">
          <%= f.submit "Update", class: "button" %>
        </div>

        <div class="form-footer pt-4">
          <%= button_to "Delete your account", registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "link" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
