<%= turbo_frame_tag "edit-registration" do %>
  <div class="flex flex-col gap-8">
    <div class="text-center">
      <h1 class="text-2xl font-bold">Edit Profile</h1>
    </div>
    <%= form_with(url: registration_path(@user), method: :patch) do |f| %>
      <div class="flex gap-4 sm:gap-8 justify-space-between items-center">
        <label for="user_avatar" class="relative cursor-pointer group">
          <% if @user.avatar&.attached? %>
            <%= image_tag(@user.avatar, class: "w-24 h-24 rounded-full object-cover aspect-square") %>
          <% else %>
            <%= heroicon("user", variant: :solid, class: "w-24 h-24 rounded-full object-cover fill-neutral-700 dark:fill-neutral-400") %>
          <% end %>
          <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-70 opacity-0 group-hover:opacity-100 transition-opacity duration-300 rounded-full">
            <%= heroicon("camera", class: "w-8 h-8 fill-black") %>
          </div>
          <%= f.file_field :avatar, class: "hidden", id: "user_avatar", accept: "image/*", data: { controller: "auto-submit", action: "change->auto-submit#submit" } %>
        </label>
      </div>
    <% end %>
    <%= form_with(url: registration_path(@user), html: { method: :put }) do |f| %>
      <div class="form-control space-y-4 pb-4">
        <label class="input input-bordered flex items-center gap-2">
          <%= heroicon("envelope", variant: :solid) %>
          <%= f.email_field :email, class: "grow", id: "email-address", value: @user.email, readonly: true, placeholder: "Email", disabled: true %>
          <%= inline_errors_for(@user, :email) %>
        </label>
        <label class="input input-bordered flex items-center gap-2">
          <%= heroicon("user", variant: :solid)%>
          <%= f.text_field :username, class: "grow", id: "username", value: @user.username, placeholder: "Username", type: "text" %>
          <%= inline_errors_for(@user, :username) %>
        </label>
        <label class="input input-bordered flex items-center gap-2">
          <%= heroicon("key", variant: :solid) %>
          <%= f.password_field :password, class: "grow", id: "password", autocomplete: "new-password", placeholder: "Password" %>
          <%= inline_errors_for(@user, :password) %>
        </label>
        <label class="input input-bordered flex items-center gap-2">
          <%= heroicon("key", variant: :solid) %>
          <%= f.password_field :password_confirmation, class: "grow", id: "password-confirmation", autocomplete: "new-password", placeholder: "Confirm Password" %>
          <%= inline_errors_for(@user, :password_confirmation) %>
        </label>
        <div class="flex justify-center mt-4">
          <%= f.submit "Update", class: "btn btn-primary btn-block" %>
        </div>
        <div class="flex justify-center">
          <%= button_to "Delete your account", registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "link link-hover" %>
        </div>
      </div>
    <% end %>
  <% end %>
