<%= turbo_frame_tag "edit-registration", class: "form-container" do %>
  <div class="form-wrapper">

    <%= form_with(url: registration_path(@user), method: :patch, html: { multipart: true, id: "avatar-form" }, data: { turbo_frame: "edit-registration" }) do |f| %>
      <div class="avatar-upload flex flex-col items-center gap-8">
        <% if @user.avatar&.attached? %>
          <%= image_tag(@user.avatar, class: "avatar-image w-64 h-64 rounded-full object-cover") %>
        <% else %>
          <%= icon("new_user", path: "icons/new-user.svg", class: "avatar-image w-64 h-64 rounded-full object-cover fill-neutral-700 dark:fill-neutral-400") %>
        <% end %>

        <label for="user_avatar" class="custom-file-upload cursor-pointer bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
          Change Avatar
          <%= f.file_field :avatar, class: "hidden", id: "user_avatar", accept: "image/*", data: { controller: "auto-submit", action: "change->auto-submit#submit" } %>
        </label>
      </div>
    <% end %>

    <%= form_with(url: registration_path(@user), html: { method: :put }) do |f| %>
      <div class="form-body">
        <div class="form-input-group">
          <div class="form-group">
            <%= f.label :email, class: "label", for: "email-address" %>
            <%= f.email_field :email, id: "email-address", value: @user.email, class: "input-disabled", readonly: true %>
          </div>

          <div class="form-group">
            <%= f.label :username, class: "label", for: "username" %>
            <%= f.text_field :username, id: "username", value: @user.username, class: "input" %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "label", for: "password" %>
            <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "input" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: "label", for: "password-confirmation" %>
            <%= f.password_field :password_confirmation, id: "password-confirmation", autocomplete: "new-password", class: "input" %>
          </div>

          <% if @minimum_password_length %>
            <p class="text-sm text-neutral-600 dark:text-neutral-500"><em><%= @minimum_password_length %> characters minimum</em></p>
          <% end %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "button" %>
        </div>
      </div>
    <% end %>

    <div class="form-footer">
      <%= button_to "Delete your account", registration_path(@user), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "link" %>
    </div>
  </div>
<% end %>
