<%# locals: { recording: } %>
<% cache(recording) do %>
  <div class="flex flex-auto gap-2 items-center relative border-t border-neutral-500 last:border-b-0 min-h-[72px]">
    <div class="flex flex-grow flex-col items-start text-left justify-center overflow-hidden">
      <div class="flex items-center justify-between w-full">
        <div class="text-sm text-neutral-200 font-semibold text-nowrap" title="<%= recording.composition.title %>">
          <%= recording.composition.title %>
        </div>
        <div class="text-sm text-neutral-200 text-nowrap">
          <%= recording.year %>
        </div>
      </div>
      <div class="text-xs text-neutral-400 text-nowrap" title="<%= recording.orchestra.name %>">
        <%= recording.orchestra.name %>
      </div>
      <div class="flex items-center justify-between w-full">
        <div class="text-xs text-neutral-400 text-nowrap" title="<% if recording.singers.present? %> - <%= recording.singers.map(&:name).join(', ') %><% end %>">
          <% if recording.singers.present? %>
            <%= recording.singers.map(&:name).join(", ") %>
          <% else %>
            Instrumental
          <% end %>
        </div>
        <div class="flex items-center justify-end">
          <% popularity_level = (recording.popularity_score / 16.67).ceil %>
          <svg width="30" height="10" aria-label="Popularity" class="text-neutral-500">
            <% 6.times do |i| %>
              <rect 
              x="<%= i * 5 %>" 
              y="0" 
              width="2" 
              height="7" 
              class="<%= i < popularity_level ? 'fill-current text-neutral-400' : 'fill-current text-neutral-600' %>">
              </rect>
            <% end %>
          </svg>
        </div>
      </div>
    </div>
  </div>
<% end %>