<% cache(tanda) do %>
  <%= form_with url: load_tanda_recording_path(tanda_id: tanda.id, id: tanda.recordings.first.id) do %>
    <button type="submit"
        class="group hover:scale-[1.01] hover:bg-neutral-800 flex flex-col rounded-xl bg-neutral-900 text-white transition-transform duration-200 w-full p-4 gap-4">
      <div class="w-full flex flex-col gap-4 z-20">
        <div class="w-full flex justify-between gap-2">
          <div class="flex flex-col gap-4">
            <div class="flex items-start flex-col gap-1">
              <div class="text-xl font-bold line-clamp-1" title="<%= tanda.title %>">
                <%= tanda.recordings.first.orchestra.display_name %>
              </div>
              <div class="text-sm text-gray-400 line-clamp-1" title="<%= tanda.recordings.first.genre.name %>">
                <%= tanda.recordings.first.genre.name %>
              </div>
              <div class="text-sm text-gray-400 line-clamp-1">
                <% recordings = tanda.recordings.to_a %>
                <% year_range = "#{recordings.map(&:year).min} - #{recordings.map(&:year).max}" %>
                <%= year_range %>
              </div>
            </div>
          </div>
          <div class="relative w-36 flex items-center justify-center transition-transform duration-200 group">
            <div class="relative w-full">
              <%= image_tag tanda.recordings.first.orchestra.image, alt: tanda.recordings.first.orchestra.name, class: "rounded-lg object-cover aspect-square w-full group-hover:opacity-60 transition-opacity duration-200" %>
              <div class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                <div class="btn btn-primary btn-md btn-circle flex items-center justify-center">
                  <%= heroicon "play", size: :sm, variant: :solid, class: "fill-white-500" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex w-full flex-col z-20 relative border-b border-neutral-500">
        <%= render collection: tanda.recordings, partial: "tandas/recording", locals: { tanda: }, as: :recording %>
      </div>
      <div class="flex w-full justify-end">
        <div class="text-sm text-gray-400 line-clamp-1">
          <% total_seconds = recordings.sum { |recording| recording.digital_remasters.first&.duration || 0 } %>
          <% total_minutes, remaining_seconds = total_seconds.divmod(60) %>
          <%= "#{tanda.recordings_count} recordings, #{total_minutes} min #{remaining_seconds} sec" %>
        </div>
      </div>
    </button>
  <% end %>
<% end %>