<% cache(tanda) do %>
  <div class="flex flex-col gap-4 bg-neutral-950 text-white p-4 rounded-lg shadow-md snap-center">
    <%= link_to tanda, class: "flex flex-col gap-2 items-center" do %>
      <div class="flex gap-2 items-center">
        <div class="text-xl font-bold">
          <%= tanda.title %>
        </div>
        <% if tanda.subtitle.present? %>
          <div class="text-md font-medium">
            <%= tanda.subtitle %>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if tanda.user&.username.present?%>
      <div class="text-sm dark:text-white">
        <%= tanda.user.username %>
      </div>
    <% end %>
    <div class="flex flex-col gap-2">
      <%= render collection: tanda.recordings, partial: "tandas/recording_form", locals: { tanda: }, as: :recording %>
    </div>
  </div>
<% end %>
