<% cache(tanda) do %>
  <div class="flex flex-col gap-4 bg-neutral-950 text-white p-4 rounded-lg snap-start">
    <%= link_to tanda, class: "flex flex-col gap-2 items-center" do %>
      <div class="flex flex-col gap-1 items-center text-center">
        <div class="text-xl font-bold line-clamp-1" title="<%= tanda.title %>">
          <%= tanda.title %>
        </div>
        <% if tanda.subtitle.present? %>
          <div class="text-md font-medium truncate" title="<%= tanda.subtitle %>">
            <%= tanda.subtitle %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="flex flex-col gap-2">
      <%= render collection: tanda.recordings, partial: "tandas/recording_form", locals: { tanda: }, as: :recording %>
    </div>
  </div>
<% end %>