<%= form_with model: @tanda, class: "flex flex-col gap-4" do |form| %>
  <div class="form-control">
    <%= form.label :title, "Tanda Title", class: "label font-semibold text-neutral-600 dark:text-neutral-200" %>
    <%= form.text_field :title, class: "input input-bordered w-full dark:bg-neutral-800 dark:text-white" %>
  </div>
  <div class="form-control">
    <%= form.label :subtitle, "Subtitle", class: "label font-semibold text-neutral-600 dark:text-neutral-200" %>
    <%= form.text_field :subtitle, class: "input input-bordered w-full dark:bg-neutral-800 dark:text-white" %>
  </div>
  <div class="form-control">
    <%= form.label :description, "Description", class: "label font-semibold text-neutral-600 dark:text-neutral-200" %>
    <%= form.text_area :description, class: "textarea textarea-bordered w-full dark:bg-neutral-800 dark:text-white" %>
  </div>
  <div class="form-control">
    <%= form.label :public, class: "label cursor-pointer flex items-center justify-start gap-3 text-neutral-600 dark:text-neutral-200" do %>
      <%= form.check_box :public, class: "checkbox checkbox-primary dark:bg-neutral-800" %>
      <span>Public</span>
    <% end %>
  </div>
  <div class="form-control">
    <%= form.label :image, "Upload Image", class: "label font-semibold text-neutral-600 dark:text-neutral-200" %>
    <%= form.file_field :image, class: "file-input file-input-bordered w-full dark:bg-neutral-800 dark:text-white" %>
    <% if @tanda.image.attached? %>
      <div class="mt-4">
        <p class="text-sm text-neutral-500 dark:text-neutral-400">Current Image:</p>
        <%= image_tag @tanda.image, class: "w-32 h-32 rounded-lg object-cover shadow-md" %>
      </div>
    <% end %>
  </div>
  <div class="form-control">
    <%= form.submit "Update Tanda", class: "btn btn-primary w-full" %>
  </div>
<% end %>