<%= form_with model: @tanda, class: "space-y-6", data: { "turbo-frame" => "_top" } do |form| %>
  <div class="form-control w-full">
    <%= form.label :title, t(".title"), class: "label font-semibold text-neutral-800 dark:text-neutral-200" %>
    <%= form.text_field :title, class: "input input-bordered w-full dark:bg-neutral-800 dark:text-neutral-100" %>
  </div>
  <div class="form-control w-full mt-4">
    <%= form.label :subtitle, t(".subtitle"), class: "label font-semibold text-neutral-800 dark:text-neutral-200" %>
    <%= form.text_field :subtitle, class: "input input-bordered w-full dark:bg-neutral-800 dark:text-neutral-100" %>
  </div>
  <div class="form-control w-full mt-4">
    <%= form.label :description, t(".description"), class: "label font-semibold text-neutral-800 dark:text-neutral-200" %>
    <%= form.text_area :description, rows: 5, class: "textarea textarea-bordered w-full dark:bg-neutral-800 dark:text-neutral-100" %>
  </div>
  <div class="form-control w-full mt-4">
    <%= form.label :image, t(".image"), class: "label font-semibold text-neutral-800 dark:text-neutral-200" %>
    <%= form.file_field :image, class: "file-input file-input-bordered w-full dark:bg-neutral-800 dark:text-neutral-100" %>
  </div>
  <div class="form-control mt-4">
    <%= form.submit "Save", class: "btn btn-primary w-full" %>
  </div>
<% end %>