<%= render "meta_tags", tanda: @tanda %>
<div class="relative flex flex-col items-center gap-6 p-6 rounded-xl">
  <%= link_to "javascript:history.back()", class: "absolute left-4 top-6 flex items-center gap-2 p-2 rounded-full bg-neutral-200 dark:bg-neutral-800 text-sm text-neutral-700 dark:text-neutral-400 hover:bg-neutral-300 dark:hover:bg-neutral-700" do %>
    <%= heroicon "chevron-left", size: :sm, class: "text-neutral-500 dark:text-neutral-400" %>
  <% end %>
  <h1 class="text-3xl font-bold text-center"><%= @tanda.title %></h1>
  <div class="flex items-center gap-4">
    <% if @tanda.image.attached? %>
      <%= image_tag @tanda.image, class: "w-24 h-24 object-cover rounded-lg shadow-md border border-neutral-200 dark:border-neutral-700" %>
    <% end %>
    <div class="flex flex-col justify-between gap-2">
      <p class="text-sm text-neutral-500 dark:text-neutral-400">
        <%= @tanda.public? ? "Public Tanda" : "Private Tanda" %>
      </p>
      <% if @tanda.genre.present? %>
        <p class="text-sm text-neutral-500 dark:text-neutral-400">
          Genre: <%= @tanda.genre.name %>
        </p>
      <% end %>
      <% if Current.user == @tanda.user %>
        <%= link_to "Edit Tanda", edit_tanda_path(@tanda), class: "btn btn-primary", data: { turbo_frame: "modal" } %>
      <% else %>
        <%= button_to "Add to Library", add_to_library_tanda_path(@tanda), class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
  <div class="container max-w-lg flex flex-col justify-center py-8 gap-8">
    <div class="flex flex-col gap-6">
      <h2 class="text-2xl font-semibold text-center">Recordings</h2>
      <% if policy(@tanda).edit? %>
        <div 
          id="tanda-recordings" 
          data-controller="sortable" 
          data-sortable-url-value="<%= reorder_tanda_recording_path(id: ":id") %>"
          class="flex flex-col gap-4"
          >
          <%= render "tanda_recordings/tanda_recordings", tanda_recordings: @tanda_recordings, suggested_recordings: @suggested_recordings %>
        </div>
      <% else %>
        <div id="tanda-recordings" 
            class="flex flex-col gap-4">
          <% if @tanda_recodings.present? %>
            <%= render "tanda_recordings/tanda_recordings", tanda_recordings: @tanda_recordings, suggested_recordings: nil %>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if policy(@tanda).edit? %>
      <div class="flex-1 flex flex-col sm:flex-row gap-4">
        <div class="w-full flex flex-col md:flex-row gap-8">
          <div class="w-full flex flex-col gap-4">
            <h2 class="text-2xl font-semibold">Search Recordings</h2>
            <%= form_with url: search_tanda_recordings_path, class: "flex flex-col gap-4", data: { controller: "auto-submit" } do |form| %>
              <%= form.hidden_field :tanda_id, value: @tanda.id %>
              <div class="flex items-center gap-2 p-2 bg-neutral-200 dark:bg-neutral-800 rounded-lg">
                <%= heroicon("magnifying-glass", size: :md, class: "text-neutral-600 dark:text-neutral-300" ) %>
                <%= form.text_field :query,
                autofocus: true,
                autocomplete: "off",
                id: "tanda-recording-search",
                placeholder: "Search by orchestra, year, or singers...",
                data: { action: "keydown->auto-submit#submit" },
                class: "w-full p-2 bg-neutral-200 dark:bg-neutral-800 text-neutral-900 dark:text-neutral-100 placeholder-neutral-500 dark:placeholder-neutral-400 outline-none" %>
              </div>
            <% end %>
            <div id="recordings-and-filters">
              <%= render partial: "tanda_recordings/recordings_and_filters", locals: { 
                recordings: nil, 
                orchestras: @orchestras, 
                singers: @singers, 
                soloists: @soloists, 
                years: @years, 
                filters: @filters, 
                tanda: @tanda, 
                suggested_orchestras: @suggested_orchestras } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>