<%# locals: (playback_queue: nil, playback_session: nil) %>
<% if playback_queue && playback_session %>
  <% recording = playback_queue.active_item&.item %>
  <% if recording %>
    <div
      id="music-player"
      class="relative flex flex-col gap-2 w-full py-2 px-2 dark:bg-neutral-900 z-50 group"
      data-controller="music-player"
      data-music-player-mini-player-outlet=".mini-player"
      data-music-player-audio-url-value="<%= url_for(recording.digital_remasters.first.audio_variants.first.audio_file) %>"
      data-music-player-album-art-url-value="<%= url_for(recording.digital_remasters.first.album.album_art) %>"
      data-music-player-playing-value="<%= playback_session.playing? %>"
      data-music-player-track-title-value="<%= recording.composition.title %>"
      data-music-player-details-primary-value="<%= recording.orchestra.display_name %><% if recording.singers.present? %> &middot; <%= recording.singers.map(&:name).compact.join(", ") %><% end %>"
      data-music-player-details-secondary-value="<%= recording.genre.name %> - <%= recording.year %>"
      data-music-player-album-title-value="<%= recording.digital_remasters.first.album.title %>"
      data-music-player-muted-value="<%= playback_session.muted? %>"
      data-music-player-volume-value="<%= playback_session.volume || 100 %>"
      data-music-player-duration-value="<%= recording.digital_remasters.first.duration %>"
      data-music-player-waveform-data-value="<%= recording.digital_remasters.first.waveform.data %>"
    >
      <div
        data-music-player-target="waveform"
        class="hidden md:block relative w-full h-16"
        data-action="pointermove->music-player#handleHover mouseleave->music-player#hideHover"
        >
        <div data-music-player-target="hover" class="absolute left-0 top-0 w-0 h-full bg-neutral-200 opacity-10 z-50 rounded-l-lg"></div>
        <div data-music-player-target="time" class="absolute left-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
        <div data-music-player-target="duration" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
      </div>
      <div class="absolute top-0 left-0 sm:hidden w-full bg-neutral-300" style="height: 2px">
        <div data-music-player-target="progress" class="h-full bg-orange-500" style="width: 0%;"></div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 items-center sm:gap-4 w-full">
        <%= link_to player_path(recording_id: recording.id), data: { turbo_frame: "modal" }, class: "flex items-center gap-4 col-span-1 group" do %>
          <%= image_tag recording.digital_remasters.first.album.album_art, class: class_names("w-14 h-14 md:w-16 md:h-16 rounded-full object-cover group-data-[music-player-playing-value=true]:animate-[spin_60s_linear_infinite]"), data: { music_player_target: "albumArt" } %>
          <div class="flex flex-col flex-grow">
            <div class="text-sm md:text-lg font-semibold text-white truncate">
              <%= recording.composition.title %>
            </div>
            <div class="text-xs text-neutral-400 truncate">
              <%= recording.orchestra.display_name %>
              <% if recording.singers.any? %>
                - <%= recording.singers.map(&:name).join(", ") %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="flex justify-end gap-4 col-span-1 md:justify-center items-center">
          <%= button_to previous_player_path, data: { music_player_target: "previousButton"}, class: "hidden md:inline-flex btn btn-neutral btn-md btn-square" do %>
            <%= heroicon("rewind", variant: :solid) %>
          <% end %>
          <%= form_with url: play_player_path, data: { action: "music-player#play" }, class: "hidden group-data-[music-player-playing-value=false]:block" do %>
            <button type="submit" class="btn btn-neutral btn-d btn-circle">
              <%= heroicon("play", variant: :solid, size: :md) %>
            </button>
          <% end %>
          <%= form_with url: pause_player_path, data: { action: "music-player#pause" }, class: "hidden group-data-[music-player-playing-value=true]:block" do %>
            <button type="submit" class="btn btn-neutral btn-md btn-circle">
              <%= heroicon("pause", variant: :solid, size: :md) %>
            </button>
          <% end %>
          <%= button_to next_player_path, data: { music_player_target: "nextButton"}, class: "btn btn-neutral btn-md btn-square" do %>
            <%= heroicon("forward", variant: :solid) %>
          <% end %>
        </div>
        <div class="hidden md:flex items-center justify-end gap-4">
          <div class="flex items-center justify-center gap-2">
            <%= button_tag type: "button", 
            class: "btn btn-neutral btn-md btn-square", 
            aria: { label: "Share recording" }, 
            data: { controller: "social-share", 
            action: "click->social-share#share:prevent", 
              "social-share-url-value": recording_path(recording.id) } do %>
              <%= heroicon("arrow-up-on-square", size: :md) %>
            <% end %>
            <%= form_with url: unmute_player_path, class: "hidden group-data-[music-player-muted-value=true]:block" do %>
              <button
                type="submit"
                data-action="click->music-player#unmute"
                class="<%= class_names("btn btn-neutral btn-md btn-square") %>"
                >
                <%= heroicon "speaker-x-mark", size: :md %>
              </button>
            <% end %>
            <%= form_with url: mute_player_path, class: "hidden group-data-[music-player-muted-value=false]:block" do %>
              <button
                type="submit"
                data-action="click->music-player#mute"
                class="<%= class_names("btn btn-neutral btn-md btn-square") %>"
                >
                <%= heroicon "speaker-wave", size: :md %>
              </button>
            <% end %>
          </div>
          <input type="hidden" name="_method" value="put">
          <%= form_with url: update_volume_player_path do %>
            <input
              type="range"
              min="0"
              max="100"
              name="volume"
              value="<%= playback_session.volume || 100 %>"
              data-controller="auto-submit"
              data-music-player-target="volumeSlider"
              data-action="input->music-player#changeVolume change->auto-submit#submit"
              class="range range-xs w-36"
              >
            </input>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>