<%# locals: (playback_queue: nil, playback_session: nil) %>
<% if playback_queue && playback_session %>
  <% recording = playback_queue.current_item&.item %>
  <% if recording %>
    <div
      data-controller="music-player"
      data-music-player-audio-url-value="<%= url_for(recording.digital_remasters.first.audio_variants.first.audio_file) %>"
      class="relative w-full p-4 dark:bg-neutral-900 z-50"
    >
      <div
        data-music-player-target="waveform"
        class="relative w-full h-36 rounded-lg p-2 overflow-hidden hidden sm:block mb-4"
        data-action="pointermove->music-player#handleHover mouseleave->music-player#hideHover"
        >
        <div data-music-player-target="hover" class="absolute left-0 top-0 w-0 h-full bg-neutral-200 opacity-10 z-50"></div>
        <div data-music-player-target="time" class="absolute left-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
        <div data-music-player-target="duration" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
      </div>
      <div class="absolute top-0 left-0 sm:hidden w-full h-1 bg-gray-300 rounded-full">
        <div data-music-player-target="progress" class="h-full bg-orange-500 rounded-full" style="width: 0%;"></div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 items-center sm:gap-4 w-full">
        <%= link_to recording, data: { turbo_frame: "modal" }, class: "flex items-center gap-4 col-span-1" do %>
          <%= image_tag recording.digital_remasters.first.album.album_art, class: "w-12 h-12 md:w-16 md:h-16 rounded-full object-cover", data: { music_player_target: "albumArt" } %>
          <div class="flex flex-col flex-grow">
            <div class="text-sm md:text-lg font-semibold text-white truncate">
              <%= recording.composition.title %>
            </div>
            <div class="text-xs text-neutral-400 truncate">
              <%= recording.orchestra.name %>
              <% if recording.singers.any? %>
                - <%= recording.singers.map(&:name).join(", ") %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="flex justify-end gap-2 col-span-1 sm:justify-center">
          <%= button_to previous_playback_path, class: "hidden md:block rounded bg-neutral-800 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600" do %>
            <%= heroicon("rewind", variant: :solid) %>
          <% end %>
          <%= form_with url: play_playback_path, data: { music_player_target: "playButton", action: "music-player#play" }, class: class_names("hidden": playback_session.playing) do %>
            <button type="submit" class="flex items-center justify-center rounded-full bg-neutral-800 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600">
              <%= heroicon("play", variant: :solid, size: :sm) %>
            </button>
          <% end %>
          <%= form_with url: pause_playback_path, data: { music_player_target: "pauseButton", action: "music-player#pause" }, class: class_names("hidden": !playback_session.playing) do %>
            <button type="submit" class="flex items-center justify-center rounded-full bg-neutral-800 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600">
              <%= heroicon("pause", variant: :solid, size: :sm) %>
            </button>
          <% end %>
          <%= button_to next_playback_path, class: "hidden md:block rounded bg-neutral-800 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600" do %>
            <%= heroicon("forward", variant: :solid) %>
          <% end %>
        </div>
        <div class="hidden sm:flex justify-end">
          <%= link_to queue_path(recording_id: recording.id), class: "hover:underline hidden md:block", data: { turbo_frame: "modal" }, aria: { label: "Add to queue" } do %>
            <%= heroicon("queue-list", variant: :solid, size: :md) %>
            <span class="sr-only">Add to queue</span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>