<%# locals: (playback_queue: nil, playback_session: nil) %>
<% if playback_queue && playback_session %>
  <% recording = playback_queue.current_item&.item %>
  <% if recording %>
    <div
      data-controller="music-player"
      data-music-player-audio-url-value="<%= url_for(recording.digital_remasters.first.audio_variants.first.audio_file) %>"
      data-music-player-track-title-value="<%= recording.composition.title %>"
      data-music-player-details-primary-value="<%= recording.orchestra.display_name %><% if recording.singers.present? %> &middot; <%= recording.singers.map(&:name).compact.join(", ") %><% end %>"
      data-music-player-details-secondary-value="<%= recording.genre.name %> - <%= recording.year %>"
      data-music-player-album-title-value="<%= recording.digital_remasters.first.album.title %>"
      data-music-player-waveform-data-value="<%= recording.digital_remasters.first.waveform.data %>"
      data-music-player-mute-value="<%= playback_session.muted? %>"
      class="relative flex flex-col gap-2 w-full p-2 dark:bg-neutral-900 z-50"
    >
      <div
        data-music-player-target="waveform"
        class="hidden md:block relative w-full h-16"
        data-action="pointermove->music-player#handleHover mouseleave->music-player#hideHover"
        >
        <div data-music-player-target="hover" class="absolute left-0 top-0 w-0 h-full bg-neutral-200 opacity-10 z-50"></div>
        <div data-music-player-target="time" class="absolute left-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
        <div data-music-player-target="duration" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
      </div>
      <div class="absolute top-0 left-0 sm:hidden w-full h-1 bg-gray-300 rounded-full">
        <div data-music-player-target="progress" class="h-full bg-orange-500 rounded-full" style="width: 0%;"></div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 items-center sm:gap-4 w-full">
        <%= link_to player_path(recording_id: recording.id), data: { turbo_frame: "modal" }, class: "flex items-center gap-4 col-span-1 group" do %>
          <%= image_tag recording.digital_remasters.first.album.album_art, class: class_names("w-12 h-12 md:w-16 md:h-16 rounded-full object-cover", "rotating": playback_session.playing?), data: { music_player_target: "albumArt" } %>
          <div class="flex flex-col flex-grow">
            <div class="text-sm md:text-lg font-semibold text-white truncate group-hover:underline">
              <%= recording.composition.title %>
            </div>
            <div class="text-xs text-neutral-400 truncate">
              <%= recording.orchestra.display_name %>
              <% if recording.singers.any? %>
                - <%= recording.singers.map(&:name).join(", ") %>
              <% end %>
            </div>
          </div>
        <% end %>
        <div class="flex justify-end gap-2 col-span-1 md:justify-center items-center">
          <%= button_to previous_playback_path, class: "hidden md:block rounded bg-neutral-800 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600" do %>
            <%= heroicon("rewind", variant: :solid) %>
          <% end %>
          <%= form_with url: play_playback_path, data: { music_player_target: "playButton", action: "music-player#play" }, class: class_names("hidden": playback_session.playing?) do %>
            <button type="submit" class="flex items-center justify-center rounded-full bg-neutral-800 p-2 md:p-4 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600">
              <%= heroicon("play", variant: :solid, size: :md) %>
            </button>
          <% end %>
          <%= form_with url: pause_playback_path, data: { music_player_target: "pauseButton", action: "music-player#pause" }, class: class_names("hidden": !playback_session.playing?) do %>
            <button type="submit" class="flex items-center justify-center rounded-full bg-neutral-800 p-2 md:p-4 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600">
              <%= heroicon("pause", variant: :solid, size: :md) %>
            </button>
          <% end %>
          <%= button_to next_playback_path, data: { music_player_target: "nextButton"}, class: "rounded bg-neutral-800 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-neutral-600" do %>
            <%= heroicon("forward", variant: :solid) %>
          <% end %>
        </div>
        <div class="hidden md:flex items-center justify-end gap-4">
          <div class="flex items-center justify-center gap-2">
            <%= button_tag type: "button", 
            class: "w-10 h-10 flex items-center justify-center rounded text-white bg-neutral-800 hover:bg-neutral-600", 
            aria: { label: "Share recording" }, 
            data: { controller: "social-share", 
            action: "click->social-share#share:prevent", 
              "social-share-url-value": recording_path(recording.id), 
              "social-share-text-value": "#{recording.title} · #{recording.orchestra.display_name} · #{recording.genre.name} · #{recording.year}" } do %>
              <%= heroicon("arrow-up-on-square", size: :md) %>
            <% end %>
            <div id="mute-button">
              <%= render "shared/mute_button", playback_session: %>
            </div>
          </div>
          <input type="hidden" name="_method" value="put">
          <%= form_with url: update_volume_playback_path do %>
            <input
              type="range"
              min="0"
              max="100"
              name="volume"
              value="<%= playback_session.volume || 100 %>"
              data-controller="auto-submit"
              data-music-player-target="volumeSlider"
              data-action="input->music-player#changeVolume change->auto-submit#submit"
              class="range range-xs w-36"
              >
            </input>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>