<%# locals: (recording: nil) -%>
<% if recording %>
  <div class="fixed bottom-0 left-0 w-full bg-neutral-900 p-4 flex flex-col gap-4 z-50">
    <div class="flex items-center gap-4">
      <% if recording %>
        <%= image_tag public_cdn_url(recording.digital_remasters.first.album.album_art), class: "w-24 h-24 rounded-lg" %>
        <div class="flex flex-col justify-center">
          <div class="whitespace-nowrap text-lg font-semibold text-white">
            <%= recording.composition.title %>
          </div>
          <div class="whitespace-nowrap text-sm text-gray-400">
            <%= recording.orchestra.name %>
            <% if recording.singers.any? %>
              - <%= recording.singers.map(&:name).join(", ") %>
            <% end %>
          </div>
          <div class="whitespace-nowrap text-sm text-gray-400">
            <%= recording.genre.name %> - <%= recording.year %>
          </div>
        </div>
      <% end %>
    </div>
    <audio
      class="w-full flex justify-center items-center rounded-lg shadow-md"
      controls
      id="custom-audio"
    >
      <source src="<%= url_for(recording.digital_remasters.first.audio_variants.first.audio_file) %>" type="audio/mpeg" />
    </audio>
  </div>
<% end %>
