<%# locals: (playback_queue: nil, playback_session: nil) %>
<% if playback_queue && playback_session %>
  <% recording = playback_queue.current_item&.item %>
  <% if recording %>
    <div
      data-controller="music-player"
      data-music-player-audio-url-value="<%= url_for(recording.digital_remasters.first.audio_variants.first.audio_file) %>"
      class="fixed bottom-0 left-0 w-full flex flex-col gap-4 justify-between items-center p-4 dark:bg-neutral-900 z-50"
      data-action="pointermove->music-player#handleHover mouseleave->music-player#hideHover"
      >
      <div
        data-music-player-target="waveform"
        class="relative w-full h-36 rounded-lg p-2 overflow-hidden"
      >
        <div data-music-player-target="hover" class="absolute left-0 top-0 w-0 h-full bg-neutral-200 opacity-10 z-50"></div>
        <div data-music-player-target="time" class="absolute left-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
        <div data-music-player-target="duration" class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white text-xs p-1 rounded-sm dark:bg-neutral-900 z-50">
          0:00
        </div>
      </div>
      <div class="flex flex-wrap justify-between items-center w-full gap-4">
        <div class="flex items-center gap-4 flex-shrink-0">
          <%= image_tag recording.digital_remasters.first.album.album_art, class: "w-16 h-16 md:w-24 md:h-24 rounded-full object-cover", data: { music_player_target: "albumArt" } %>
          <div class="flex flex-col justify-center">
            <div class="text-base md:text-lg font-semibold text-white truncate">
              <%= link_to recording.composition.title, recording, class: "link link--hover" %>
            </div>
            <div class="text-xs md:text-sm text-neutral-400 truncate">
              <%= link_to recording.orchestra.name, recording.orchestra, class: "link link--hover" %>
              <% if recording.singers.any? %>
                - <%= recording.singers.map(&:name).join(", ") %>
              <% end %>
            </div>
            <div class="text-xs md:text-sm text-neutral-400">
              <%= recording.genre.name %> - <%= recording.year %>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center gap-2 md:gap-4 flex-grow">
          <%= button_to previous_queue_path, class: "rounded bg-neutral-800 px-3 py-2 text-xs md:text-sm font-semibold text-white shadow-sm hover:bg-neutral-600" do %>
            <%= heroicon("rewind", variant: :solid) %>
          <% end %>
          <%= form_with url: play_playback_session_path, data: { music_player_target: "playButton", action: "music-player#play" }, class: class_names("hidden": playback_session.playing) do %>
            <button type="submit" class="flex items-center justify-center rounded-full bg-neutral-800 px-3 py-2 text-xs md:text-sm font-semibold text-white shadow-sm hover:bg-neutral-600">
              <%= heroicon("play", variant: :solid, size: :sm) %>
            </button>
          <% end %>
          <%= form_with url: pause_playback_session_path, data: { music_player_target: "pauseButton", action: "music-player#pause" }, class: class_names("hidden": !playback_session.playing) do %>
            <button type="submit" class="flex items-center justify-center rounded-full bg-neutral-800 px-3 py-2 text-xs md:text-sm font-semibold text-white shadow-sm hover:bg-neutral-600">
              <%= heroicon("pause", variant: :solid, size: :sm) %>
            </button>
          <% end %>
          <%= button_to next_queue_path, data: { music_player_target: "nextButton" }, class: "rounded bg-neutral-800 px-3 py-2 text-xs md:text-sm font-semibold text-white shadow-sm hover:bg-neutral-600" do %>
            <%= heroicon("forward", variant: :solid) %>
          <% end %>
          <%= link_to queue_path(recording_id: recording.id), class: "hover:underline", data: { turbo_frame: "modal" } do %>
            <%= heroicon("queue-list", variant: :solid, size: :md) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>