<div data-controller="navigation" class="fixed bottom-0 left-0 w-full bg-neutral-900 text-white flex justify-between items-center px-4">
  <%= link_to music_library_path, class: "flex flex-col items-center px-4 py-4" do %>
    <%= heroicon "home", size: :lg, variant: (current_page?(music_library_path) ? :solid : :outline), class: (current_page?(music_library_path) ? "text-orange-500" : "text-gray-400") %>
    <span class="text-xs <%= 'text-orange-500' if current_page?(music_library_path) %>">Library</span>
  <% end %>
  <%= link_to search_path, class: "flex flex-col items-center px-4 py-4" do %>
    <%= heroicon "magnifying-glass", size: :lg, variant: (current_page?(search_path) ? :solid : :outline), class: (current_page?(search_path) ? "text-orange-500" : "text-gray-400") %>
    <span class="text-xs <%= 'text-orange-500' if current_page?(search_path) %>">Search</span>
  <% end %>
  <%= link_to orchestras_path, class: "flex flex-col items-center px-4 py-4" do %>
    <%= heroicon "musical-note", size: :lg, variant: (current_page?(orchestras_path) ? :solid : :outline), class: (current_page?(orchestras_path) ? "text-orange-500" : "text-gray-400") %>
    <span class="text-xs <%= 'text-orange-500' if current_page?(orchestras_path) %>">Orchestras</span>
  <% end %>
  <%= link_to playlists_path, class: "flex flex-col items-center px-4 py-4" do %>
    <%= heroicon "book-open", size: :lg, variant: (current_page?(playlists_path) ? :solid : :outline), class: (current_page?(playlists_path) ? "text-orange-500" : "text-gray-400") %>
    <span class="text-xs <%= 'text-orange-500' if current_page?(playlists_path) %>">Playlists</span>
  <% end %>
</div>