<%# locals: { user_library: } %>
<div class="flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <h1 class="text-2xl font-bold dark:text-neutral-300">Your Library</h1>
    <div class="flex flex-col gap-1">
      <% if current_page?(orchestras_path) %>
        <span class="flex items-center gap-2 text-base text-orange-500 dark:text-orange-400">
          <%= heroicon "musical-note", variant: :solid, size: :md %>
          <span><%= t(".orchestras") %></span>
        </span>
      <% else %>
        <%= link_to orchestras_path, class: "flex items-center gap-2 text-base text-neutral-700 dark:text-neutral-400 hover:underline" do %>
          <%= heroicon "musical-note", variant: :outline, size: :md %>
          <span><%= t(".orchestras") %></span>
        <% end %>
      <% end %>
      <% if current_page?(playlists_path) %>
        <span class="flex items-center gap-2 text-base text-orange-500 dark:text-orange-400">
          <%= heroicon "collection", variant: :solid, size: :md %>
          <span><%= t(".playlists") %></span>
        </span>
      <% else %>
        <%= link_to playlists_path, class: "flex items-center gap-2 text-base text-neutral-700 dark:text-neutral-400 hover:underline" do %>
          <%= heroicon "collection", variant: :outline, size: :md %>
          <span><%= t(".playlists") %></span>
        <% end %>
      <% end %>
      <% if current_page?(tandas_path) %>
        <span class="flex items-center gap-2 text-base text-orange-500 dark:text-orange-400">
          <%= heroicon "musical-note", variant: :solid, size: :md %>
          <span><%= t(".tandas") %></span>
        </span>
      <% else %>
        <%= link_to tandas_path, class: "flex items-center gap-2 text-base text-neutral-700 dark:text-neutral-400 hover:underline" do %>
          <%= heroicon "musical-note", variant: :outline, size: :md %>
          <span><%= t(".tandas") %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <div
    id="library-items"
    class="flex flex-col gap-2"
    data-controller="sortable"
    data-sortable-url-value="<%= reorder_library_item_path(id: ":id") %>"
  >
    <%= render collection: user_library.library_items, partial: "library_items/library_item" %>
  </div>
</div>