<%# locals: { recordings:, orchestras:, soloists:, singers:, years:, filters:, tanda:, suggested_orchestras:} %>
<div class="flex flex-col gap-4">
  <%= form_with url: search_tanda_recordings_path, class: "flex flex-col gap-4", data: { controller: "auto-submit" } do |form| %>
    <%= form.hidden_field :tanda_id, value: tanda.id %>
    <% if orchestras.present? %>
      <div class="flex flex-col gap-2">
        <h3 class="text-sm text-neutral-500 dark:text-neutral-400 uppercase tracking-wide">Orchestras</h3>
        <div class="overflow-x-auto flex gap-2 no-scrollbar">
          <% orchestras.each do |orchestra| %>
            <% selected = filters[:orchestra]&.include?(orchestra["key"]) %>
            <label class="btn btn-xs btn-outline font-normal whitespace-nowrap rounded-full text-xs md:text-sm cursor-pointer flex items-center gap-1 
              <%= selected ? "bg-orange-500 text-white border-transparent" : "bg-neutral-100 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-500" %>">
              <%= form.check_box :orchestra, { multiple: true, checked: selected, class: "hidden", data: { action: "change->auto-submit#submit" } }, orchestra["key"], nil %>
              <%= orchestra["key"] %>
              <% if selected %>
                <div class="text-white bg-transparent rounded-full border">
                  <%= heroicon("x-mark", variant: :outline, size: :xxs) %>
                </div>
              <% end %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if filters[:orchestra].present? && singers.present? %>
      <div class="flex flex-col gap-2">
        <h3 class="text-sm text-neutral-500 dark:text-neutral-400 uppercase tracking-wide">Singers</h3>
        <div class="overflow-x-auto flex gap-2 no-scrollbar">
          <% singers.each do |singer| %>
            <% selected = filters[:singer]&.include?(singer["key"]) %>
            <label class="btn btn-xs btn-outline font-normal whitespace-nowrap rounded-full text-xs md:text-sm cursor-pointer flex items-center gap-1 
              <%= selected ? "bg-orange-500 text-white border-transparent" : "bg-neutral-100 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-500" %>">
              <%= form.check_box :singer, { multiple: true, checked: selected, class: "hidden", data: { action: "change->auto-submit#submit" } }, singer["key"], nil %>
              <%= singer["key"] %>
              <% if selected %>
                <div class="text-white bg-transparent rounded-full border">
                  <%= heroicon("x-mark", variant: :outline, size: :xxs) %>
                </div>
              <% end %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if soloists.present? && filters[:orchestra].blank? %>
      <div class="flex flex-col gap-2">
        <h3 class="text-sm text-neutral-500 dark:text-neutral-400 uppercase tracking-wide">Soloists</h3>
        <div class="overflow-x-auto flex gap-2 no-scrollbar">
          <% soloists.each do |option| %>
            <% selected = filters[:soloist]&.include?(option["key"]) %>
            <label class="btn btn-xs btn-outline font-normal whitespace-nowrap rounded-full text-xs md:text-sm cursor-pointer flex items-center gap-1 
              <%= selected ? "bg-orange-500 text-white border-transparent" : "bg-neutral-100 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-500" %>">
              <%= form.check_box :soloist, { multiple: true, checked: selected, class: "hidden", data: { action: "change->auto-submit#submit" } }, option["key"], nil %>
              <%= option["key"] %>
              <% if selected %>
                <div class="text-white bg-transparent rounded-full border">
                  <%= heroicon("x-mark", variant: :outline, size: :xxs) %>
                </div>
              <% end %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if years.present? %>
      <div class="flex flex-col gap-2">
        <h3 class="text-sm text-neutral-500 dark:text-neutral-400 uppercase tracking-wide">Years</h3>
        <div class="flex flex-wrap gap-2">
          <% years.each do |year| %>
            <% selected = filters.dig(:year)&.include?(year["key"]) %>
            <label class="btn btn-xs btn-outline font-normal whitespace-nowrap rounded-full text-xs md:text-sm cursor-pointer flex items-center gap-1 
              <%= selected ? "bg-orange-500 text-white border-transparent" : "bg-neutral-100 text-neutral-700 dark:bg-neutral-800 dark:text-neutral-300 dark:hover:bg-neutral-500" %>">
              <%= form.check_box :year, { multiple: true, checked: selected, class: "hidden", data: { action: "change->auto-submit#submit" } }, year["key"], nil %>
              <%= year["key"] %>
              <% if selected %>
                <div class="text-white bg-transparent rounded-full border">
                  <%= heroicon("x-mark", variant: :outline, size: :xxs) %>
                </div>
              <% end %>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="flex flex-col gap-2">
    <% if recordings.present? %>
      <div class="flex flex-col gap-4">
        <% if recordings.present? %>
          <ol class="relative flex flex-col gap-6 pl-6 border-s border-neutral-200 dark:border-neutral-700">
            <% recordings.each do |year, recordings_in_year| %>
              <li class="flex flex-col gap-6">
                <div class="absolute w-3 h-3 bg-neutral-200 rounded-full -start-1.5 border border-white dark:border-neutral-900 dark:bg-neutral-700"></div>
                <time class="text-sm font-normal leading-none text-neutral-400 dark:text-neutral-500">Recordings from <%= year %></time>
                <div class="flex flex-col gap-2">
                  <%= render partial: "recording_form", collection: recordings_in_year, locals: { tanda: tanda }, as: :recording %>
                </div>
              </li>
            <% end %>
          </ol>
        <% else %>
          <section>
            <h3 class="text-neutral-500">Unsure about what you want to add? Quickly start creating a tanda by choosing an orchestra below!</h3>
            <div class="flex flex-wrap gap-4 px-4 py-4">
              <% suggested_orchestras.each do |orchestra| %>
                <%= form_with url: search_tanda_recordings_path do |form| %>
                  <%= form.hidden_field :tanda_id, value: tanda.id %>
                  <%= form.hidden_field :orchestra, value: orchestra.display_name %>
                  <button type="submit">
                    <%= render orchestra %>
                  </button>
                <% end %>
              <% end %>
            </div>
          </section>
        <% end %>
      </div>
    <% else %>
      <section>
        <h3 class="text-neutral-500">Unsure about what you want to add? Quickly start creating a tanda by choosing an orchestra below!</h3>
        <div class="flex flex-wrap gap-4 px-4 py-4">
          <% suggested_orchestras.each do |orchestra| %>
            <%= form_with url: search_tanda_recordings_path do |form| %>
              <%= form.hidden_field :tanda_id, value: tanda.id %>
              <%= form.hidden_field :orchestra, value: orchestra.display_name %>
              <button type="submit">
                <%= render orchestra %>
              </button>
            <% end %>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>
</div>