<nav class="navbar bg-gray-200 p-4 flex justify-between items-center">
  <%= nav_link_to "TangoCloud", root_path, class: "text-xl font-extrabold text-gray-800 hover:text-gray-400" %>
  <ul class="menu flex space-x-4 items-center">
    <% if user_signed_in? %>
      <li>
        <%= link_to edit_user_registration_path, class: "flex items-center space-x-2" do %>
          <% if current_user.avatar.present? %>
            <img src="<%= current_user.avatar.url %>" alt="User Avatar" class="w-8 h-8 rounded-full">
          <% else %>
            <%= image_tag "new-user.svg", alt: "User Avatar", class: "w-8 h-8" %>
          <% end %>
        <% end %>
      </li>
      <li>
        <%= button_to destroy_user_session_path, method: :delete, class: "text-red-400 hover:text-red-600 font-medium" do %>
          Sign Out
        <% end %>
      </li>
    <% else %>
      <li>
        <%= nav_link_to "Log in", new_user_session_path, class: "text-gray-800 hover:text-gray-400" %>
      </li>
    <% end %>
  </ul>
</nav>
