<nav class="navbar bg-gray-200 p-4 flex justify-between items-center">
  <%= nav_link_to "TangoCloud", root_path, class: "text-xl font-extrabold text-gray-800 hover:text-gray-400" %>
  <ul class="menu flex space-x-4 items-center">
    <% if Current.user %>
      <li>
        <%= nav_link_to "Dashboard", dashboard_path, class: "text-gray-800 hover:text-gray-400" %>
      </li>
      <li>
        <%= nav_link_to "Edit profile", edit_identity_email_path, class: "text-gray-800 hover:text-gray-400" %>
      </li>
      <li
        <%= button_to Current.session, method: :delete do %>
          <span class="text-red-400 hover:text-red-600 font-medium text-center">Sign Out</span>
        <% end %>
      </li>
    <% else %>
      <li>
        <%= nav_link_to "Sign up", new_user_registration_path, class: "text-gray-800 hover:text-gray-400" %>
      </li>
      <li>
        <%= nav_link_to "Login", new_user_session_path, class: "text-gray-800 hover:text-gray-400" %>
      </li>
    <% end %>
  </ul>
</nav>
