<%# locals: { library_items:, active_filter: nil } %>
<div class="flex gap-2">
  <%= button_to "All", library_items_path(type: "all"),
      class: class_names(
        "px-4 py-2 text-sm font-medium rounded-md transition-all duration-300 hover:bg-neutral-700",
        "bg-orange-500 text-white" => active_filter == "all" || active_filter.nil?
      ) %>
  <%= button_to "Playlists", library_items_path(type: "playlists"),
      class: class_names(
        "px-4 py-2 text-sm font-medium rounded-md transition-all duration-300 hover:bg-neutral-700",
        "bg-orange-500 text-white" => active_filter == "playlists"
      ) %>
  <%= button_to "Tandas", library_items_path(type: "tandas"),
      class: class_names(
        "px-4 py-2 text-sm font-medium rounded-md transition-all duration-300 hover:bg-neutral-700",
        "bg-orange-500 text-white" => active_filter == "tandas"
      ) %>
</div>
<div 
  data-controller="sortable"
  data-sortable-url-value="<%= reorder_library_item_path(id: ":id") %>" 
  class="flex flex-col gap-4 transition-all duration-300">
  <%= render partial: "library_items/library_item", collection: library_items, locals: { active_filter: } %>
</div>