<%# locals: { library_item: } %>
<div 
  id=<%= dom_id(library_item) %>
  data-sortable-handle
  data-sortable-id="<%= library_item.id %>" 
  class="flex items-stretch align-stretch bg-neutral-900 text-white rounded-lg hover:bg-neutral-800 transition group p-2"
>
  <% cache([library_item.item]) do %>
    <%= link_to library_item.item, class: "flex-1" do %>
      <div class="flex items-center gap-4">
        <% if library_item.item.image&.attached? %>
          <%= image_tag library_item.item.image, class: "w-10 aspect-square object-cover rounded-md" %>
        <% end %>
        <div class="flex-1 p-2">
          <h2 class="text-xs font-medium text-white hover:text-orange-400 line-clamp-2">
            <%= library_item.item.title %>
          </h2>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="flex items-center gap-2">
    <%= ui_dropdown align: :end do |c| %>
      <% c.with_toggle_open do %>
        <%= heroicon "ellipsis-vertical", variant: :outline, size: :sm %>
      <% end %>
      <% c.with_toggle_close do %>
        <%= heroicon "ellipsis-vertical", variant: :outline, size: :sm %>
      <% end %>
      <% c.with_menu_item_button_to(add_to_queue_path(item_type: library_item.item.class.name, item_id: library_item.item.id)) do %>
        <%= heroicon "plus", variant: :outline, size: :sm %>
        <span>Add to queue</span>
      <% end %>
      <% c.with_menu_item_button_to(library_item_path(library_item), method: :delete) do %>
        <%= heroicon "trash", variant: :outline, size: :sm %>
        <span>Remove from your library</span>
      <% end %>
    <% end %>
  </div>
</div>