<!DOCTYPE html>
<html lang=I18n.locale>
  <%= render "components/head" %>
  <body class="flex flex-col h-dvh">
    <%= render "shared/navbar" %>
    <%= render "shared/flash" %>
    <main class="flex-grow flex flex-col items-center">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
