<div class="form-container">
  <div class="form-wrapper">
    <div>
      <%= inline_svg_tag("logos/tangocloud-logo-with-text.svg", class: "form-header") %>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-body">
        <div class="form-input-group">
          <div class="form-group">
            <%= f.label "Email address", class: "label", for: "email-address" %>
            <%= f.email_field :email, id: "email-address", autofocus: true, autocomplete: "email", class: "input" %>
            <%= inline_errors_for(resource, :email) %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "label", for: "password" %>
            <%= f.password_field :password, id: "password", autocomplete: "new-password", class: "input" %>
            <%= inline_errors_for(resource, :password) %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "Sign in to account", class: "button" %>
        </div>
        <div class="form-footer">
          <%= link_to "Forgot password?", new_user_password_path, class: "link" %>
          <%= link_to "Don't have an account?", new_registration_path(resource_name), class: "link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
