<%# locals: (recording:, playback_session:) %>
<div 
  data-controller="mini-player"
  data-mini-player-music-player-outlet="#music-player"
  data-mini-player-mute-value="<%= playback_session.muted? %>"
  data-mini-player-playing-value="<%= playback_session.playing %>"
  class="mini-player pt-16 px-4 pb-4 flex flex-col gap-8 justify-center group"
  >
  <% recording.digital_remasters.each do |remaster| %>
    <% if remaster.album.album_art.attached? %>
      <%= image_tag remaster.album.album_art, class: "w-full h-auto object-cover rounded-lg" %>
    <% else %>
      <div class="w-full h-96 bg-neutral-200 dark:bg-neutral-700 text-neutral-500 dark:text-neutral-300">
      </div>
    <% end %>
  <% end %>
  <div class="flex flex-1 h-full w-full gap-4 items-center p-2 rounded-lg ">
    <div class="flex flex-col items-start text-left w-full">
      <div class="text-lg font-semibold w-full text-white">
        <%= recording.composition.title %>
      </div>
      <div class="text-md w-full text-neutral-300">
        <%= recording.orchestra.display_name %>
        <% if recording.singers.present? %>
          &middot; <%= recording.singers.map(&:name).compact.join(", ") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center gap-4">
    <div class="w-full flex flex-col gap-8 sm:hidden">
      <input
        type="range"
        data-mini-player-target="progress"
        data-action="input->mini-player#seek"
        class="range range-xs w-full"
        min="0"
        max="1"
        step="0.0001"
        value="0"
      />
      <div class="flex items-center justify-center gap-4">
        <%= button_to previous_player_path, class: "btn btn-neutral" do %>
          <%= heroicon("rewind", variant: :solid) %>
        <% end %>
        <%= form_with url: play_player_path, data: { action: "mini-player#play" }, class: "hidden group-data-[mini-player-playing-value=false]:block" do %>
          <button type="submit" class="btn btn-neutral btn-lg btn-circle">
            <%= heroicon("play", variant: :solid, size: :md) %>
          </button>
        <% end %>
        <%= form_with url: pause_player_path, data: { action: "mini-player#pause" }, class: "hidden group-data-[mini-player-playing-value=true]:block" do %>
          <button type="submit" class="btn btn-neutral btn-lg btn-circle">
            <%= heroicon("pause", variant: :solid, size: :md) %>
          </button>
        <% end %>
        <%= button_to next_player_path, class: "btn btn-neutral" do %>
          <%= heroicon("forward", variant: :solid) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex gap-2">
    <div class="flex gap-2">
      <%= link_to queue_path, class: "btn btn-neutral btn-square sm:hidden", data: { turbo_frame: "modal" }, aria: { label: "Add to queue" } do %>
        <%= heroicon("queue-list", size: :md) %>
      <% end %>
      <%= button_tag type: "button", class: "btn btn-neutral btn-square", aria: { label: "Share recording" }, data: { controller: "social-share", action: "click->social-share#share:prevent", "social-share-url-value": recording_path(recording.id) } do %>
        <%= heroicon("arrow-up-on-square", size: :md) %>
      <% end %>
      <div id="like-button">
        <%= render partial: "players/like_button", locals: {recording:, user: Current.user } %>
      </div>
    </div>
  </div>
  <div class="card bg-neutral-100 dark:bg-neutral-800 p-4 rounded-lg space-y-4 mt-4">
    <div class="flex flex-col gap-4">
      <div>
        <h2 class="text-lg font-semibold text-neutral-800 dark:text-neutral-100"><%= recording.title %></h2>
        <p class="text-sm text-neutral-500 dark:text-neutral-400">Title</p>
      </div>
      <% if recording.orchestra.present? %>
        <div>
          <h2 class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"><%= recording.orchestra.display_name %></h2>
          <p class="text-sm text-neutral-500 dark:text-neutral-400">Orchestra</p>
        </div>
      <% end %>
      <% if recording.singers.any? %>
        <div>
          <% recording.singers.each do |singer| %>
            <h2 class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"><%= singer.display_name %></h2>
            <p class="text-sm text-neutral-500 dark:text-neutral-400">Singer</p>
          <% end %>
        </div>
      <% else %>
        <div>
          <h2 class="text-lg font-semibold text-neutral-800 dark:text-neutral-200">Instrumental</h2>
          <p class="text-sm text-neutral-500 dark:text-neutral-400">Type</p>
        </div>
      <% end %>
      <div>
        <h2 class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"><%= recording.genre.name %></h2>
        <p class="text-sm text-neutral-500 dark:text-neutral-400">Genre</p>
      </div>
      <div>
        <h2 class="text-lg font-semibold text-neutral-800 dark:text-neutral-200"><%= recording.year %></h2>
        <p class="text-sm text-neutral-500 dark:text-neutral-400">Year</p>
      </div>
    </div>
  </div>
  <% if recording.lyrics.any? %>
    <div class="card flex gap-8 bg-neutral-100 dark:bg-neutral-800 p-4 rounded-lg">
      <h2 class="text-xl font-black text-neutral-800 dark:text-neutral-200">Lyrics</h2>
      <div class="text-lg font-bold text-neutral-700 dark:text-neutral-300 text-center">
        <% recording.lyrics.first.text.split("\n\n").each do |paragraph| %>
          <p><%= paragraph.gsub("\n", "<br>").html_safe %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>