<%# locals: (playback_queue:, queue_items:, playback_session:) %>
<% cache([playback_queue, queue_items, playback_session]) do %>
  <div 
    data-controller="mini-player" 
    data-mini-player-music-player-outlet="#music-player"
    data-mini-player-playing-value="<%= playback_session.playing %>"
    class="mini-player flex flex-col gap-4 dark:bg-black pt-16 sm:pt-0 group"
  >
    <% if playback_queue.current_item %>
      <%= link_to player_path(recording_id: playback_queue.current_item.item.id), data: { turbo_frame: "modal" }, class: "absolute left-4 top-4 flex items-center gap-2 p-2 rounded-full bg-neutral-200 text-sm text-neutral-700 dark:bg-neutral-800 dark:text-neutral-400 hover:bg-neutral-300 dark:hover:bg-neutral-700" do %>
        <%= heroicon "chevron-left", size: :sm, class: "text-neutral-500 dark:text-neutral-400" %>
      <% end %>
      <h1 class="text-2xl font-bold dark:text-neutral-300">Now Playing</h1>
      <div id="now-playing" class="flex gap-4">
        <%= image_tag playback_queue.current_item.item.digital_remasters.first.album.album_art, class: "w-16 h-16 md:w-20 md:h-20 rounded-md object-cover" %>
        <div class="flex flex-col items-start justify-center text-left">
          <div class="flex gap-2 text-sm font-semibold text-orange-500">
            <%= inline_svg_tag("icons/svg_loaders/animated-audio.svg", class: class_names("hidden w-4 h-4 fill-orange-500 group-data-[mini-player-playing-value=true]:block")) %>
            <%= inline_svg_tag("icons/svg_loaders/paused-audio.svg", class: class_names("hidden w-4 h-4 fill-orange-500 group-data-[mini-player-playing-value=false]:block")) %>
            <%= playback_queue.current_item.item.composition.title %>
          </div>
          <div class="text-xs text-gray-500">
            <%= playback_queue.current_item.item.orchestra.display_name %>
            <% if playback_queue.current_item.item.singers.present? %>
              &middot; <%= playback_queue.current_item.item.singers.map(&:name).compact.join(", ") %>
            <% end %>
          </div>
          <div class="text-xs text-gray-500">
            <%= playback_queue.current_item.item.genre.name %> - <%= playback_queue.current_item.item.year %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="flex flex-col gap-8 sm:hidden">
      <div class="flex items-center justify-center gap-4">
        <%= button_to previous_player_path, class: "btn btn-neutral" do %>
          <%= heroicon("rewind", variant: :solid) %>
        <% end %>
        <%= form_with url: play_player_path, data: { action: "mini-player#play" }, class: "hidden group-data-[mini-player-playing-value=false]:block" do %>
          <button type="submit" class="btn btn-neutral btn-circle">
            <%= heroicon("play", variant: :solid, size: :sm) %>
          </button>
        <% end %>
        <%= form_with url: pause_player_path, data: { action: "mini-player#pause" }, class: "hidden group-data-[mini-player-playing-value=true]:block" do %>
          <button type="submit" class="btn btn-neutral btn-circle">
            <%= heroicon("pause", variant: :solid, size: :sm) %>
          </button>
        <% end %>
        <%= button_to next_player_path, class: "btn btn-neutral" do %>
          <%= heroicon("forward", variant: :solid) %>
        <% end %>
      </div>
      <input
        type="range"
        data-mini-player-target="progress"
        data-action="input->mini-player#seek"
        class="range range-xs w-full"
        min="0"
        max="1"
        step="0.0001"
        value="0"
        />
      </div>
      <% if queue_items.present? %>
        <h3 class="text-lg font-bold dark:text-neutral-300">Up Next</h3>
        <div 
        id="queue-items" 
        data-controller="sortable" 
        data-sortable-url-value="<%= reorder_queue_item_path(id: ":id") %>" 
        class="flex flex-col gap-2 w-full"
      >
          <%= render collection: queue_items, partial: "queues/queue_item" %>
        </div>
      <% end %>
    </div>
  <% end %>