<%# locals: { tanda:, queue_item: } %>
<% cache(tanda) do %>
  <% genre_name = tanda.recordings.first.genre.name.downcase %>
  <% background_class =
      if genre_name == "tango"
        "bg-tango"
      elsif genre_name == "milonga"
        "bg-milonga"
      elsif genre_name == "vals"
        "bg-vals"
      else
        "bg-default"
      end %>
  <div class="<%= class_names(
              'w-full group snap-start flex flex-col rounded-xl text-neutral-200 transition-transform duration-200 p-4 gap-4 relative',
              background_class
            ) %>">
    <div class="w-full flex flex-col gap-4">
      <%= link_to tanda_path(tanda), class: "w-full flex justify-start gap-4" do %>
        <div class="relative w-24 flex items-center justify-center">
          <% if tanda.recordings.first.orchestra.image.attached? %>
            <%= image_tag tanda.recordings.first.orchestra.image, alt: tanda.recordings.first.orchestra.name, class: "rounded-lg object-cover aspect-square h-full" %>
          <% end %>
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex items-start flex-col gap-1">
            <div class="text-xl font-bold line-clamp-1" title="<%= tanda.title %>">
              <%= tanda.recordings.first.orchestra.display_name %>
            </div>
            <div class="text-sm text-gray-400 line-clamp-1" title="<%= tanda.recordings.first.genre.name %>">
              <%= tanda.recordings.first.genre.name %>
            </div>
            <div class="text-sm text-gray-400 line-clamp-1">
              <% recordings = tanda.recordings.to_a %>
              <% year_range = "#{recordings.map(&:year).min} - #{recordings.map(&:year).max}" %>
              <%= year_range %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="flex w-full flex-col z-20 relative border-b border-neutral-500">
        <%= render collection: tanda.recordings, partial: "tandas/recording", locals: { tanda: }, as: :recording %>
      </div>
      <div class="flex w-full justify-between items-center mt-2">
        <%= form_with url: add_to_queues_path(type: "tanda", id: tanda.id) do %>
          <button type="submit" class="btn btn-neutral btn-md btn-circle flex items-center justify-center opacity-85">
            <%= heroicon "play", size: :sm, variant: :solid, class: "fill-white-500" %>
          </button>
        <% end %>
        <div class="flex w-full justify-end mt-4">
          <%= ui_dropdown align: :end do |c| %>
            <% c.with_toggle_open do %>
              <%= heroicon "ellipsis-horizontal", variant: :outline, size: :sm, class: "cursor-pointer" %>
            <% end %>
            <% c.with_toggle_close do %>
              <%= heroicon "ellipsis-horizontal", variant: :outline, size: :sm, class: "cursor-pointer" %>
            <% end %>
            <% c.with_menu_item_button_to(add_to_queues_path(type: "tanda", id: tanda.id)) do %>
              <%= heroicon "plus", variant: :outline, size: :sm %>
              <span>Add to Queue</span>
            <% end %>
            <% c.with_menu_item_button_to(edit_tanda_path(tanda)) do %>
              <%= heroicon "pencil", variant: :outline, size: :sm %>
              <span>Edit Tanda</span>
            <% end %>
            <% c.with_menu_item_button_to(queue_item_path(queue_item), method: :delete) do %>
              <%= heroicon "trash", variant: :outline, size: :sm %>
              <span>Remove from queue</span>
            <% end %>
          <% end %>
        </div>
        <div class="text-sm text-gray-400 line-clamp-1">
          <%= formatted_tanda_duration(tanda) %>
        </div>
      </div>
    </div>
  </div>
<% end %>