<div class="flex flex-col gap-4 h-dvh justify-center">
  <%= link_to "Admin", avo_path, class: "btn btn-primary" %>
  <%= link_to "Background Jobs", mission_control_jobs_path, class: "btn btn-primary" %>
  <%= link_to "Upload Audio Transfers", new_audio_transfer_path, class: "btn btn-primary" %>
  <%= link_to "Upload Playlists", avo.new_resources_playlist_path, class: "btn btn-primary" %>
  <%= link_to "Devices & Sessions", sessions_path, class: "btn btn-secondary" %>
  <%= link_to "Change email address", edit_identity_email_path, class: "btn btn-secondary" %>
  <%= link_to "Change password", edit_password_path, class: "btn btn-secondary" %>
</div>
