<div class="flex flex-col gap-4 h-dvh justify-center">
  <%= link_to "Admin", avo_path, class: "btn btn-primary" %>
  <%= link_to "Background Jobs", mission_control_jobs_path, class: "btn btn-primary" %>
  <%= link_to "Upload Audio Transfers", new_digital_remaster_path, class: "btn btn-primary" %>
  <%= link_to "Upload Playlists", avo.new_resources_playlist_path, class: "btn btn-primary" %>
  <%= link_to "Edit User", edit_user_registration_path, class: "btn btn-secondary" %>
</div>
