<%# locals: { playlist:, tanda: } %>
<% cache([playlist, tanda]) do %>
  <% recordings = tanda.recordings.to_a %>
  <% first_recording = recordings.first %>
  <% genre_name = first_recording&.genre&.name&.downcase %>
  <div class="w-full group snap-start flex flex-col rounded-xl text-neutral-200 transition-transform duration-200 p-4 gap-4 relative">
    <div class="w-full flex flex-col gap-4">
      <%= link_to tanda_path(tanda), class: "w-full flex justify-start gap-4" do %>
        <div class="relative w-24 flex items-center justify-center">
          <% if first_recording&.orchestra&.image&.attached? %>
            <%= image_tag first_recording.orchestra.image, alt: first_recording.orchestra.name, class: "rounded-lg object-cover aspect-square h-full" %>
          <% else %>
            <div class="rounded-lg object-cover aspect-square h-full bg-gray-200 flex items-center justify-center text-gray-500">
              No Image
            </div>
          <% end %>
        </div>
        <div class="flex flex-col gap-4">
          <div class="flex items-start flex-col gap-1">
            <div class="text-xl font-bold line-clamp-1" title="<%= tanda.title %>">
              <%= first_recording&.orchestra&.display_name || tanda.title || "Unknown Title" %>
            </div>
            <div class="text-sm text-gray-400 line-clamp-1" title="<%= genre_name %>">
              <%= genre_name&.capitalize || "Unknown Genre" %>
            </div>
            <div class="text-sm text-gray-400 line-clamp-1">
              <% if recordings.present? %>
                <% year_range = "#{recordings.map(&:year).compact.min} - #{recordings.map(&:year).compact.max}" %>
                <%= year_range %>
              <% else %>
                No recordings available
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% if recordings.present? %>
        <div class="flex w-full flex-col z-20 relative border-b border-neutral-500">
          <%= render collection: recordings, partial: "tandas/recording", locals: { tanda: }, as: :recording %>
        </div>
      <% end %>
      <div class="flex w-full gap-2 justify-between items-center">
        <%= form_with url: play_now_queue_path(parent_type: "playlist", parent_id: playlist.id, item_type: "tanda", item_id: tanda.id) do %>
          <button type="submit" class="btn btn-neutral btn-md btn-circle flex items-center justify-center opacity-85">
            <%= heroicon "play", size: :sm, variant: :solid, class: "fill-white-500" %>
          </button>
        <% end %>
        <div class="text-sm text-gray-400 text-nowrap">
          <%= formatted_tanda_duration(tanda) if recordings.present? %>
        </div>
        <div class="flex w-full justify-end mt-4">
          <%= ui_dropdown align: :end do |c| %>
            <% c.with_toggle_open do %>
              <%= heroicon "ellipsis-horizontal", variant: :outline, size: :sm, class: "cursor-pointer" %>
            <% end %>
            <% c.with_toggle_close do %>
              <%= heroicon "ellipsis-horizontal", variant: :outline, size: :sm, class: "cursor-pointer" %>
            <% end %>
            <% c.with_menu_item_button_to(add_to_queue_path(item_type: "tanda", item_id: tanda.id)) do %>
              <%= heroicon "plus", variant: :outline, size: :sm %>
              <span>Add to Queue</span>
            <% end %>
            <% c.with_menu_item_button_to(edit_tanda_path(tanda)) do %>
              <%= heroicon "pencil", variant: :outline, size: :sm %>
              <span>Edit Tanda</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>