<div class="container flex flex-col p-4 gap-4 items-center dark:bg-black">
  <% if @playlist.image.attached? %>
    <%= image_tag public_cdn_url(@playlist.image), class: "w-64 h-64 md:w-24 md:h-24 rounded-lg object-cover shadow-md" %>
  <% end %>
  <h1 class="text-2xl font-bold dark:text-neutral-300"><%= @playlist.title %></h1>
  <% if @playlist.description.present? %>
    <p class="text-sm text-center dark:text-neutral-400"><%= @playlist.description %></p>
  <% end %>
  <% if @playlist.user %>
    <p class="text-sm text-center dark:text-neutral-400"><%= @playlist.user.username || @playlist.user.email %></p>
  <% end %>
  <div class="flex flex-col gap-4">
    <%= render collection: @playlist_items, partial: "playlists/playlist_item" %>
  </div>
</div>
