<%# locals: (recording:, orchestra: nil, year: nil, genre: nil, orchestra_period: nil, singer: nil) %>
<% cache([recording, orchestra, year, genre, orchestra_period, singer]) do %>
  <div class="w-full flex gap-2 items-center bg-neutral-900 hover:cursor-pointerhover:bg-neutral-800 rounded-lg overflow-hidden">
    <%= form_with url: load_orchestra_recording_path(orchestra_id: orchestra, id: recording.id), class: "flex w-full gap-4 items-center" do |form| %>
      <%= form.hidden_field :year, value: year %>
      <%= form.hidden_field :genre, value: genre %>
      <%= form.hidden_field :orchestra_period, value: orchestra_period %>
      <%= form.hidden_field :singer, value: singer %>
      <%= button_tag type: :submit, class: "flex w-full gap-4 items-center text-left" do %>
        <%= render partial: "recordings/recording", locals: { recording: recording } %>
      <% end %>
    <% end %>
  </div>
<% end %>