<% cache([@orchestra, @filters]) do %>
  <div class="container flex flex-col gap-8 py-8 px-2 rounded-lg shadow-lg">
    <%= link_to orchestras_path, class: "flex gap-2 text-sm text-neutral-500 dark:text-neutral-400 hover:text-neutral-700 dark:hover:text-neutral-300" do %>
      <%= heroicon "chevron-left", size: :sm %>
      <%= t(".back") %>
    <% end %>
    <div id="orchestra-image" class="flex flex-col items-center">
      <% if @orchestra.image.attached? %>
        <%= image_tag @orchestra.image, class: "w-36 h-36 md:w-48 md:h-48 rounded-full object-cover" %>
      <% else %>
        <%= heroicon "user-circle", variant: :solid, class: "w-36 h-36 md:w-48 md:h-48 fill-neutral-300" %>
      <% end %>
      <h1 class="text-2xl md:text-3xl font-semibold text-neutral-700 dark:text-neutral-200 mt-4">
        <%= @orchestra.name %>
      </h1>
    </div>
    <%= turbo_frame_tag "filters" do %>
      <%= render partial: "filters", locals: { orchestra: @orchestra, filters: @filters, years: @years, genres: @genres, orchestra_periods: @orchestra_periods, singers: @singers } %>
    <% end %>
    <%= turbo_frame_tag "recordings" do %>
      <%= render partial: "recordings", locals: { recordings: @recordings } %>
    <% end %>
  </div>
<% end %>
