<!DOCTYPE html >
<html lang="<%= I18n.locale %>" class="h-dvh">
  <%= render "components/head" %>
  <body class="flex min-h-full flex-col font-circular dark">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <main class="flex grow dark:bg-black justify-center">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
    <%= turbo_frame_tag "modal", target: "_top" %>
  </body>
</html>
