<!DOCTYPE html >
<html lang="<%= I18n.locale %>" class="h-dvh">
  <%= render "components/head" %>
  <body class="flex min-h-full flex-col font-circular dark">
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <main class="flex flex-col grow dark:bg-black items-center">
      <%= yield %>
    </main>
    <div id="music-player" data-turbo-permanent>
      <%= render partial: "shared/music_player" %>
    </div>
    <%= render "shared/footer" %>
    <%= turbo_frame_tag "modal", target: "_top" %>
  </body>
</html>
